body{
           
}

.fa-solid{
    color:#00bf5d
}

.inf {
    background-color: white;
    padding: 15px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
.company{
    margin-left: 25px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
.submit{
    border: none;
    width: 80%;
    background-color:#00bf5d ;
    border-radius: 20px;
    padding: 5px;
    font-weight: 500;
}
.submit:hover{
    background-color:#069e4f;
    color: azure;
}
.submit_now{
    border: none;
    font-weight: 1000;
    background-color:#5fcf80 ;
    border-radius: 20px;
    padding-left: 17px;
    padding-right: 17px;
    margin: 10px;
}
.submit_now:hover{
    background-color:#006600;
    color: azure;
}
.icon_details{
    background: linear-gradient(11deg,#00bf5d,#00907c);
    border-radius: 80px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}
.icon_address{
    background: linear-gradient(11deg,#00bf5d,#00907c);
    border-radius: 100px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}
body{
    margin: 10px;
    padding: 20px;
}
.table{
    border: 1px solid chartreuse;
    border-radius: 10px;
    border-style: dashed;
    padding: 25px;
}
.upload{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}
.upload:hover{
    background: #eee;
    border-color: #111;
}
.input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size:15px;
    /* color: white; */
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
        /* color: transparent; */
        color: darkgrey;
    }
}
.input:focus {
padding-bottom: 6px;  
font-weight: 500;
border-width: 3px;
border-image: linear-gradient(to right, primary,secondary);
border-image-slice: 1;
}

.finish{
    border: none;
    width: 80%;
    background-color:#00bf5d ;
    border-radius: 20px;
    padding: 5px;
    font-weight: 700;
}
.finish:hover{
    background-color:#006600;
    color: azure;
}

.err{
    color: red;
}

.img_jobs_apply{
    width: 180px;
    height: 90px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.img_jobs_apply img{
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.luong{
    width: 200px;
}

.luong h6{
  line-height: 1.6rem;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-family: var(--bs-font-sans-serif);
  font-weight: 400;
}

.comment{
    max-width: 100%;
    height: auto;
    padding: 10px;
    /* background-color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.12); */
    /* border-radius: 10px; */
    margin: 30px 0;
}

.comment h5{
    color: #00bf5d;
    font-weight: 700;
    font-size: 25px;
}

.comment .input_comments{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.comment .input_comments input[type ='text']{
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #eee;
    /* background: #eee; */
    padding: 0 20px;
    outline: none;
    border-radius: 8px;
}

.comment .input_comments .under_coment{
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00bf5d;
    transition: all .3s ease;
}

.comment .input_comments input[type ='text']:focus ~ .under_coment{
    width: 100%;
}

.comment .input_comments input[type ='submit']{
    border: none;
    height: 50px;
    margin: 0 5px;
    padding: 0 30px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    background-color: #00bf5d;
    border-radius: 8px;
}

.comment .show_comments .comments_user .user_info small{
    color: darkgray;
}

.like_or_dislike{
    display: flex;
    align-items: center;
}

.like_or_dislike div{
    margin: 5px 30px;
}

.like_or_dislike div:hover i{
    color: #00bf5d;
}

.action_color{
    color: #00bf5d;
}

@media (max-width:589px) {
    .company{
        margin-top: 10px;
        margin-left: 0;
    }

    /* .img_jobs{
        display: none;
    } */
}


